<div class="row mt-2 py-1" data-init-row="{{index}}">
    <div class="col-3">
        <input type="text" id="name-{{index}}" class="form-control" value="{{racer}}">
    </div>
    <div class="col-2">
        <input type="text" id="skill-{{index}}" class="form-control" value="{{skill}}">
    </div>
    <div class="col-2">
        <input type="text" id="type-{{index}}" class="form-control" value="{{type}}">
    </div>

    <div class="col-1">
        <input type="text" id="successes-{{index}}" class="form-control text-center" value="{{successes}}">
    </div>
    <div class="col-1">
        <input type="text" id="advantages-{{index}}" class="form-control text-center" value="{{advantages}}">
    </div>
    <div class="col-1">
        <input type="text" id="triumphs-{{index}}" class="form-control text-center" value="{{triumphs}}">
    </div>

    <div class="col-2">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" data-command="roll-initiative" data-index="{{index}}">
                Roll init
            </button>
            <button type="button" class="btn btn-outline-danger" data-command="delete-row"
                data-index="{{index}}">X</button>
        </div>
    </div>
</div>