<div class="row" data-symbols-row="{{index}}">
    <div class="col-3 col-racer">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="text" id="racer-{{index}}" class="form-control" value="{{racer}}">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" id="skill-{{index}}" class="form-control" value="{{skill}}">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" id="type-{{index}}" class="form-control" value="{{type}}">
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 col-vehicle">
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <input type="text" id="vehicle-{{index}}" class="form-control" value="{{vehicle}}">
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">
                    <input type="text" id="silhouette-{{index}}" class="form-control" value="{{silhouette}}">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group form-group-double-box">
                    <input type="text" id="current-speed-{{index}}" class="form-control" value="{{currentSpeed}}">
                    /
                    <input type="text" id="max-speed-{{index}}" class="form-control" value="{{maxSpeed}}">
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">
                    <input type="text" id="handling-{{index}}" class="form-control" value="{{handling}}">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group form-group-double-box">
                    <input type="text" id="current-ss-{{index}}" class="form-control" value="{{currentSystemStrain}}">
                    /
                    <input type="text" id="max-ss-{{index}}" class="form-control" value="{{maxSystemStrain}}">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group form-group-double-box">
                    <input type="text" id="current-hull-{{index}}" class="form-control" value="{{currentHull}}">
                    /
                    <input type="text" id="max-hull-{{index}}" class="form-control" value="{{maxHull}}">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group form-group-double-box">
                    <input type="text" id="part-{{index}}" class="form-control" value="{{part}}">
                    <input type="text" id="lap-{{index}}" class="form-control" value="{{lap}}">
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 col-symbols">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" id="successes-{{index}}" class="form-control" value="{{successes}}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="advantages-{{index}}" class="form-control" value="{{advantages}}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="triumphs-{{index}}" class="form-control" value="{{triumphs}}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="failures-{{index}}" class="form-control" value="{{failures}}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="threats-{{index}}" class="form-control" value="{{threats}}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="despairs-{{index}}" class="form-control" value="{{despairs}}">
                </div>
            </div>
        </div>
    </div>
    <div class="col-1 col-actions">
        <div class="form-group">
            <div class="btn-group">
                <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                        Actions
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <h6 class="dropdown-header">Additional actions</h6>
                        <div class="dropdown-divider"></div>
                        <button type="button" class="dropdown-item" data-resolve="race-negative" data-index="{{index}}">
                            Resolve negative symbols
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" class="dropdown-item" data-delete="race-row" data-index="{{index}}">
                            Delete row
                        </button>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary" data-roll="race" data-index="{{index}}">
                    Race
                </button>
            </div>
        </div>
    </div>
</div>