<div class="row symbols-row-{{index}}">
    <div class="col">
        <div class="form-group">
            <input type="text" id="label-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" id="type-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" id="successes-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" id="advantages-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" id="triumphs-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" id="failures-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" id="threats-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="text" id="despairs-{{index}}" class="form-control">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <button type="button" class="btn btn-outline-danger" data-index="{{index}}">
                X
            </button>
        </div>
    </div>
</div>