<div class="row" data-symbols-row="{{index}}">
    <div class="col-3 col-racer">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input type="text" id="racer-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" id="skill-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input type="text" id="type-{{index}}" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 col-vehicle">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <input type="text" id="vehicle-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">
                    <input type="text" id="silhouette-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group form-group-double-box">
                    <input type="text" id="current-speed-{{index}}" class="form-control">
                    /
                    <input type="text" id="max-speed-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col-1">
                <div class="form-group">
                    <input type="text" id="handling-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group form-group-double-box">
                    <input type="text" id="current-ss-{{index}}" class="form-control">
                    /
                    <input type="text" id="max-ss-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group form-group-double-box">
                    <input type="text" id="current-hull-{{index}}" class="form-control">
                    /
                    <input type="text" id="max-hull-{{index}}" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 col-symbols">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" id="successes-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="advantages-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="triumphs-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="failures-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="threats-{{index}}" class="form-control">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" id="despairs-{{index}}" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-1 col-actions">
        <div class="form-group">
            <button type="button" class="btn btn-outline-danger" data-index="{{index}}">
                X
            </button>
        </div>
    </div>
</div>